.container {
  display: flex;
  background: var(--dbbg);
  color: var(--text);
  height: 100dvh;
}

.menu {
  flex: 1;
  background: var(--dbbgSoft);
  padding: 20px;
}

.content {
  flex: 4;
  padding: 20px;
  width: 100%;
  overflow-x: auto;
}
